# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production
.env.sentry-build-plugin

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
